<style>
   body{
      text-align: center;
      background-color: #F4F4F4;
      font-family:courier

   }

   table{
        text-align: center;
   }
</style>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/logout" method=post>
    <input type="submit" value="Logout" class="btn btn-primary" style="float:right;background-color: #3086af; color:#FFFFFF">
</form>

<h2>Welcome to Employee Dashboard.</h2>
<h4>Total Leaves Allocated : 21</h4>
<h4>Total Remainaing Leaves : {{ rem_leaves }}</h4>
<h4>Total Leaves Used : {{ leaves_used }}</h4>

{% if rem_leaves > 0 %}
<form action="/new_leave" method=get>
    <input type="submit" value="Apply Leave" class="btn btn-primary" style="background-color: #3086af; color:#FFFFFF"/>
</form>
{% else %}
<h3>No Leaves Left to Apply. Contact Manager.</h3>
{% endif %}

{% if profile %}
<h3>Employee Profile : </h3>
<table style="width:50%" border="1" align="center">
    <tr>
        <th style="text-align:center">First Name</th>
        <td>{{ profile.first_name }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Last Name</th>
        <td>{{ profile.last_name }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Email ID</th>
        <td>{{ profile.employees.email_id }}</td>
    </tr>
    <tr>
        <th style="text-align:center">DOB</th>
        <td>{{ profile.dob }}</td>
    </tr>
    <tr>
        <th style="text-align:center">DOJ</th>
        <td>{{ profile.doj }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Phone Number</th>
        <td>{{ profile.phone_number }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Qualification</th>
        <td>{{ profile.qualification }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Job Title</th>
        <td>{{ profile.job_title }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Gender</th>
        <td>{{ profile.gender }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Street Address</th>
        <td>{{ profile.employee_address.street_address }}</td>
    </tr>
    <tr>
        <th style="text-align:center">City</th>
        <td>{{ profile.employee_address.city }}</td>
    </tr>
    <tr>
        <th style="text-align:center">State</th>
        <td>{{ profile.employee_address.state }}</td>
    </tr>
    <tr>
        <th style="text-align:center">Zip Code</th>
        <td>{{ profile.employee_address.zip_code}}</td>
    </tr>
</table>
{% endif %}

<br>
<h3>Emplyee Leaves History : </h3>
<table style="width:80%" border="1px solid black" align="center">
    <tr>
        <th style="text-algin:center">Leave Type</th>
        <th style="text-algin:center">Leave Date</th>
        <th style="text-algin:center">Applied Date</th>
        <th style="text-algin:center">Reason for Leave</th>
        <th style="text-algin:center">Status</th>
        <th style="text-algin:center">Reason</th>
    </tr>
    {% for leave in leaves %}
    <tr>
        <td style="text-align:center">{{ leave.leave_type }}</td>
        <td style="text-align:center">{{ leave.leave_date }}</td>
        <td style="text-align:center">{{ leave.apply_date }}</td>
        <td style="text-align:center">{{ leave.apply_reason }}</td>
        <td style="text-align:center">{{ leave.status }}</td>
        <td style="text-align:center">{{ leave.reason }}</td>
    </tr>
    {% endfor %}

</table>
<br>
<br>
<br>
</body>
</html>
